body{
    background-color: black;
}

.btn{
     display: flex;
     margin-right: auto;
     margin-left: auto;
}

.facebookLogo{
    border-radius: 10px;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
}

.logo{
    transform: scale(.55);
}

.linkLogos{
    transform: scale(.4);
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.videoPreview{
    display: flex;
    justify-content: center;
}

.videoDescription{
    display: flex;
    justify-content: center;
    color: white;
}