body{
    background-color: black;
}

.btn{
     display: flex;
     margin-right: auto;
     margin-left: auto;
}

.facebookLogo{
    border-radius: 10px;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
}

.instagramLogoFollow{
    padding-right: 150px;
}

.facebookLogoFollow{
    padding-right: 150px;
}

.followThisArtist{
    display: none;
    justify-content: center;
    padding-top: 55px;
    color: white;
}

.logo{
    transform: scale(.55);
}

.linkLogos{
    transform: scale(.4);
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.linkLogosFollow{
    transform: scale(.3);
    margin: 20px;
    justify-content: center;
    display: none;
    color: white;
    height: 150px;
}

.videoPreview{
    display: flex;
    justify-content: center;
}

.videoDescription{
    display: flex;
    justify-content: center;
    color: white;
}